h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 40px;
}

body {
    background-image: url(https://cdn.glitch.global/1cd8c231-f820-4b94-8a3f-da5bba9d1e13/thumbnails%2Fbeans.jpg);
}

.menu {
    background-color: burlywood;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.established {
    font-style: oblique;
}

hr {
    height: 3px;
    background-color: brown;
    border-color: brown;
    border-radius: 3px;
   }

   .item p {
       display: inline-block;
   }

   